/* .advantagesSection {
  text-align: center;
  padding: 40px 30px;
} */

.advantagesSection ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  margin: 0 auto;
  max-width: 450px;
  margin-top: 30px;
}

.advantagesSection ul li {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  /* .advantagesSection {
    padding: 60px 0;
  } */

  .advantagesSection ul {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1150px) {
  /* .advantagesSection {
    padding: 80px 0;
  } */

  .advantagesSection ul {
    margin-top: 40px;
  }
}
