.firstScreen {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url("../../public/images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 40%;
}

.gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.navBox {
  height: 4em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 50;
}

.navBox > * {
  margin-inline: 1.6em;
}

.menu,
.logo,
.cross {
  cursor: pointer;
}

.logo {
  width: 117px;
  height: 27px;
}

.firstScreen h1 {
  color: #f4f5f9;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 3.7em;
  font-weight: lighter;
}

.firstScreen p {
  color: #f4f5f9;
  display: block;
}

.textContent {
  margin: 0 auto 24px;
  width: 300px;
}

.squaresBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  gap: 10px;
  margin-inline: 1.6em;
  height: 15%;
  text-align: center;
}

.square {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding-inline: 10px;
}

.mainButton,
.formPopUp button {
  width: calc(100% - 1.6em * 2);
  margin-inline: 1.6em;
  height: 7%;
  background-color: #ff6e31;
  color: #f4f5f9;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.formPopUp button {
  width: 80%;
  margin: 0;
}

.arrow {
  padding: 15px 0;
  margin: 0 auto;
}

.burgerMenu {
  width: 100%;
  height: 200px;
  background-color: #f4f5f9;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.burgerMenu ul {
  width: calc(100% - 1.6em * 2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  margin-inline: 1.6em;
}

.cross {
  position: absolute;
  right: 30px;
  top: 30px;
}

.formPopUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}

.formPopUp input {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  padding-left: 12px;
  position: relative;
  z-index: 10;
}

.formPopUp button {
  width: 100%;
  height: 45px;
}

.label {
  position: absolute;
  left: 10px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.focusSpan {
  position: absolute;
  left: 10px;
  transform: translateY(-15px);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  background-color: initial;
  z-index: 10;
}

.inputContainer {
  position: relative;
}

.formPopUp button:disabled {
  background-color: #606060;
  cursor: default;
}

.navMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .squaresBox {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: 100px;
    height: 10%;
    width: calc(100% - 200px);
    max-width: 1200px;
    margin: 0 auto;
  }

  .navBox {
    background-color: unset;
    width: calc(100% - 200px);
    position: absolute;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .gradient {
    background: rgba(0, 0, 0, 0.3);
  }

  .mainButton {
    width: 250px;
    height: 10%;
    margin: 0 auto;

    margin-bottom: 5%;
    max-height: 60px;
  }

  .textContent {
    width: 400px;
  }

  .navBox > * {
    margin-inline: 0;
  }

  .arrow {
    padding: 5px 0;
  }

  .burgerMenu {
    width: 300px;
    right: 0;
    height: 70%;
    display: flex;
  }

  .burgerMenu ul {
    grid-template-columns: 1fr;
  }

  .cross {
    right: 100px;
  }

  .logo {
    width: 175px;
    height: 45px;
  }
}

@media screen and (min-width: 1150px) {
  .mainButton {
    width: 350px;
  }

  .menu {
    display: none;
  }

  .navMenu {
    display: block;
    margin-inline: 25px;
    color: #f4f5f9;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .firstScreen h1 {
    font-size: 6em;
  }
}
