.routeSection {
  padding: 40px 30px;
  background-image: url("../../public/images/Route.jpg");
  background-size: cover;
  background-position: 50% 0;
  text-align: center;
  width: 100%;
  color: white;
}

.cardRoute {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.cardRoute p {
  display: block;
}

.routeDesktopVersion {
  display: none;
}

.svgArrowMiddle {
  display: none;
}

@media screen and (min-width: 768px) {
  .routeSection {
    padding: 60px 0;
    position: relative;
  }

  .slider,
  .buttonSlider {
    display: none;
  }

  .routeDesktopVersion {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .desktopFlex {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 30px auto 0;
    justify-content: center;
  }

  .svgArrowSmall {
    display: none;
  }

  .svgArrowMiddle {
    display: block;
  }

  .cardRoute {
    background-color: unset;
  }
}

@media screen and (min-width: 1150px) {
  .routeSection {
    padding: 80px 0;
    position: relative;
  }

  .desktopFlex {
    gap: 200px;
  }

  .desktopFlex {
    margin: 40px auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .routeDesktopVersion {
    width: 450px;
  }

  .desktopFlex {
    gap: 300px;
  }
}
