@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Futura Book";
  background-color: #fff8f8;
  font-size: 18px;
}

svg {
  display: inline-block;
}

p,
h1,
h2,
h3,
ul,
li {
  all: unset;
}

h2 {
  font-size: 1.7em;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 1536px) {
  body {
    font-size: 24px;
  }
}

@font-face {
  font-family: "Futura Book";
  src: url("../public/Futura/FuturaBookC.eot");
  src: url("../public/Futura/FuturaBookC.eot?#iefix")
      format("embedded-opentype"),
    url("../public/Futura/FuturaBookC.woff") format("woff"),
    url("../public/Futura/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.slick-dots.slick-thumb {
  bottom: -45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots.slick-thumb li {
  width: 4px;
  height: 4px;
  margin: 0 5px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  background-color: #c4c4c4;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: #ff6e31;
}

.slick-dots li button::before {
  content: "" !important;
}

@media screen and (min-width: 768px) {
  .slick-dots.slick-thumb {
    bottom: -60px;
  }
}
